@model Roulette.Models.TableModel
@{
    ViewBag.Title = "Roulette";
}

@section Head
{
    <script type="text/javascript" src="/Scripts/Custom/roulette.js"></script>
    <script type="text/javascript">
        var rouletteStarted = false;

        function main() {
            setTimeout(function () {
                if (rouletteStarted && currentState == 0) {
                    rouletteStarted = false;
                    $("#user-board td.highlighted").removeClass("highlighted");
                    $("#ball").css({ top: 0, left: 0, display: 'none' });
                    $.ajax({
                        type: "POST",
                        url: '/Home/UpdateHistory',
                        success: function (history) {
                            $("#history").html(history);
                            getRoundNumber();
                        }
                    });
                }
                if (!rouletteStarted && currentState == 1) {
                    rouletteStarted = true;
                    Start();
                }
                main();
            }, 1000);
        }

        function getStakes() {
            setTimeout(function () {
                $.ajax({
                    type: "POST",
                    url: '/Stake/GetStakes',
                    dataType: 'html',
                    success: function (stakes) {
                        drawStakes(stakes);
                        getStakes();
                    }
                });
            }, 200);
        }

        function drawStakes(stakes) {
            if (stakes != "") {
                if($("#board").html() != stakes)
                        $("#board").html(stakes);
            }
            else {
                $('.roulette-board div.chip').remove();
                $('#zero div.chip').remove();
            }
        }

        

        $(function () {
            getStakes();
            getRoundNumber();
            setProgressBar();
            main();
        });

    </script>
}

<div id="user-board">

<div id="main-table">
<div id="roulette">
<img src="/img/roulette-wheel.png" alt="Roulette" class="roulette-wheel"/>
<img src="/img/roulette-board.png" alt="Roulette"/>
<img src="/img/ball.png" alt="Ball" id="ball"/>
</div>

<div id="board">
@Html.Partial("_Board",Model)
</div>
<div class="clear"></div>
</div>
</div>



<div class="right">
<div id="history">
@Html.Partial("_History",Model.History)
</div>

</div>
