@model Roulette.Models.TableModel

@{
    ViewBag.Title = "Roulette Admin";
}

@section Head
{
     <script type="text/javascript" src="/Scripts/highlighter.js"></script>
     <script type="text/javascript" src="/Scripts/stake.js"></script>
     <script type="text/javascript">
         function getStakes() {
             setTimeout(function () {
                 $.ajax({
                     type: "POST",
                     url: '/Stake/GetStakes',
                     dataType: 'html',
                     success: function (stakesList) {
                         if (stakesList == "") {
                             $('.roulette-board div.chip').remove();
                             $('#zero div.chip').remove();
                             stakes = new Array();
                         }
                         getStakes();
                     }
                 });
             }, 1000);
         }

         $(function () {
             $.ajax({
                 type: "POST",
                 url: '/Stake/RememberCurrentState',
                 data: { currentState: "" }
             });

             $("#cancel-button").click(function () {
                 stakes = new Array();
                 $.ajax({
                     type: "POST",
                     url: '/Stake/RememberCurrentState',
                     data: { currentState: "" },
                     success: function () {
                         $('.roulette-board div.chip').remove();
                         $('#zero div.chip').remove();
                     }
                 });
             });

             $("#submit-button").click(function () {

                 $.ajax({
                     type: "POST",
                     url: '/Stake/CreateStake',
                     contentType: 'application/json',
                     data: JSON.stringify(stakes),
                     success: function () {
                        

                     }
                 });
                 return true;

             });

             getStakes();
         });
     </script>
}

<div id="admin-board">

<div id="buttons">
<input type="button" value="Clear" id="cancel-button"/>
@*<input type="button" value="Submit" id="submit-button" />*@
<a id="submit-button" href="/checkPage.htm" target=_blank>Submit</a>
</div>

<div id="centered-div">
@Html.Partial("_Board", Model)
</div>

<div class="roulette-chips">
<div class="chip" data-value="1">
<img src="/img/test-image.gif" alt="1"/>
</div>
<div class="chip" data-value="2">
<img src="/img/test-image.gif" alt="2"/>
</div>
<div class="chip" data-value="5">
<img src="/img/test-image.gif" alt="5"/>
</div>
<div class="chip" data-value="10">
<img src="/img/test-image.gif" alt="10"/>
</div>
</div>
</div>